body {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-color: #000;
    color: #fff;
}

#gameCanvas {
    background-color: #000;
    border: 2px solid #fff;
}

#score {
    font-size: 24px;
    margin-top: 10px;
}

#gameOver {
    margin-top: 20px;
}
